# Task 1 : 
### Installing Java, Spark3+ , and a compatible pyspark Python lib and making it work.

In [3]:
# Testing pyspark installation

import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark-3.2.0-bin-hadoop3.2'

In [7]:
# Initiate spark context
from pyspark import SparkContext, SparkConf 
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark =SparkSession(sc)

In [4]:
#Example Test code
numeric_val = sc.parallelize([1,2,3,4])
numeric_val.map(lambda x: x*x*x).collect()

[1, 8, 27, 64]

In [6]:
# Stop the spark session
sc.stop()

# Task 2 
### Read "Car details v3.csv" data with spark

In [9]:
df = spark.read.option("header", "true").csv ('Car details v3.csv')

In [10]:
df.limit(10).toPandas()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5
7,Maruti 800 DX BSII,2001,45000,5000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5
9,Ford Figo Diesel Celebration Edition,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5

# Task 3
### Creating a model to predict the selling price from the other variables using Sparks'mlib

In [14]:
spark = SparkSession.builder.getOrCreate()

In [15]:
spark

In [16]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- year: string (nullable = true)
 |-- selling_price: string (nullable = true)
 |-- km_driven: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- torque: string (nullable = true)
 |-- seats: string (nullable = true)

All the columns are string type.
The selling_price is our target and the remainder are our features we want to predict the target with.

In [17]:
df.show(2)

+--------------------+----+-------------+---------+------+-----------+------------+------------+----------+-------+----------+-------------------+-----+
|                name|year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|             torque|seats|
+--------------------+----+-------------+---------+------+-----------+------------+------------+----------+-------+----------+-------------------+-----+
|Maruti Swift Dzir...|2014|       450000|   145500|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|     190Nm@ 2000rpm|    5|
|Skoda Rapid 1.5 T...|2014|       370000|   120000|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|250Nm@ 1500-2500rpm|    5|
+--------------------+----+-------------+---------+------+-----------+------------+------------+----------+-------+----------+-------------------+-----+
only showing top 2 rows

Let's select some columns to see how the dataframe look like.

In [18]:
df_show = df.select("year","selling_price","km_driven","fuel")

In [19]:
df_show.show(2)

+----+-------------+---------+------+
|year|selling_price|km_driven|  fuel|
+----+-------------+---------+------+
|2014|       450000|   145500|Diesel|
|2014|       370000|   120000|Diesel|
+----+-------------+---------+------+
only showing top 2 rows

## Pre-processing the data

### Drop the name and the torque column

In [149]:
to_drop = ["name","torque"]
for x in to_drop:
    df = df.drop(x)
df.show(5)

+----+-------------+---------+------+-----------+------------+------------+-----+-------------+------------+------------+
|year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|seats|mileage_clean|engine_clean|mpower_clean|
+----+-------------+---------+------+-----------+------------+------------+-----+-------------+------------+------------+
|2014|       450000|   145500|Diesel| Individual|      Manual| First Owner|    5|           23|        1248|          74|
|2014|       370000|   120000|Diesel| Individual|      Manual|Second Owner|    5|           21|        1498|         103|
|2006|       158000|   140000|Petrol| Individual|      Manual| Third Owner|    5|           17|        1497|          78|
|2010|       225000|   127000|Diesel| Individual|      Manual| First Owner|    5|           23|        1396|          90|
|2007|       130000|   120000|Petrol| Individual|      Manual| First Owner|    5|           16|        1298|          88|
+----+-------------+---------+------+-----------+------------+------------+-----+-------------+------------+------------+
only showing top 5 rows

### removing units from mileage, engine and max_power columns

In [93]:
df= df.withColumn("mileage_clean", regexp_extract("mileage", "[+-]?([0-9]*[.])?[0-9]+", 0)).drop('mileage')
df= df.withColumn("engine_clean", regexp_extract("engine", "[+-]?([0-9]*[.])?[0-9]+", 0)).drop('engine')
df= df.withColumn("mpower_clean", regexp_extract("max_power", "[+-]?([0-9]*[.])?[0-9]+", 0)).drop('max_power')
df.show(10)

+----+-------------+---------+------+-----------+------------+------------+-----+-------------+------------+------------+
|year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|seats|mileage_clean|engine_clean|mpower_clean|
+----+-------------+---------+------+-----------+------------+------------+-----+-------------+------------+------------+
|2014|       450000|   145500|Diesel| Individual|      Manual| First Owner|    5|         23.4|        1248|          74|
|2014|       370000|   120000|Diesel| Individual|      Manual|Second Owner|    5|        21.14|        1498|      103.52|
|2006|       158000|   140000|Petrol| Individual|      Manual| Third Owner|    5|         17.7|        1497|          78|
|2010|       225000|   127000|Diesel| Individual|      Manual| First Owner|    5|         23.0|        1396|          90|
|2007|       130000|   120000|Petrol| Individual|      Manual| First Owner|    5|         16.1|        1298|        88.2|
|2017|       440000|    45000|Petrol| Individual|      Manual| First Owner|    5|        20.14|        1197|       81.86|
|2007|        96000|   175000|   LPG| Individual|      Manual| First Owner|    5|         17.3|        1061|        57.5|
|2001|        45000|     5000|Petrol| Individual|      Manual|Second Owner|    4|         16.1|         796|          37|
|2011|       350000|    90000|Diesel| Individual|      Manual| First Owner|    5|        23.59|        1364|        67.1|
|2013|       200000|   169000|Diesel| Individual|      Manual| First Owner|    5|         20.0|        1399|        68.1|
+----+-------------+---------+------+-----------+------------+------------+-----+-------------+------------+------------+
only showing top 10 rows

### Casting the numerical values (String  to Integer)

In [146]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- seats: integer (nullable = true)
 |-- mileage_clean: integer (nullable = true)
 |-- engine_clean: integer (nullable = true)
 |-- mpower_clean: integer (nullable = true)

In [150]:
from pyspark.sql.types import IntegerType

numCols=["year","selling_price","km_driven","seats","mileage_clean","engine_clean",
"mpower_clean"]
for x in numCols:
    df = df.withColumn(x,df[x].cast(IntegerType()))

df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- seats: integer (nullable = true)
 |-- mileage_clean: integer (nullable = true)
 |-- engine_clean: integer (nullable = true)
 |-- mpower_clean: integer (nullable = true)

### Dealing with categorical variables

Let's identify the unique value for the string columns

In [27]:

df.select('seller_type').distinct().collect()

[Row(seller_type='Individual'),
 Row(seller_type='Dealer'),
 Row(seller_type='Trustmark Dealer')]

In [28]:
df.select('fuel').distinct().collect()

[Row(fuel='Diesel'), Row(fuel='CNG'), Row(fuel='LPG'), Row(fuel='Petrol')]

In [29]:
df.select('transmission').distinct().collect()

[Row(transmission='Automatic'), Row(transmission='Manual')]

In [30]:
df.select('owner').distinct().collect()

[Row(owner='Third Owner'),
 Row(owner='Fourth & Above Owner'),
 Row(owner='Second Owner'),
 Row(owner='First Owner'),
 Row(owner='Test Drive Car')]

In [34]:
df.select('seats').distinct().collect()

[Row(seats='7'),
 Row(seats='8'),
 Row(seats=None),
 Row(seats='5'),
 Row(seats='6'),
 Row(seats='9'),
 Row(seats='10'),
 Row(seats='4'),
 Row(seats='14'),
 Row(seats='2')]

In [113]:
from pyspark.ml.feature import (OneHotEncoder, StringIndexer)
string_indexer = [ StringIndexer(inputCol = x, outputCol = x + "_StringIndexer", handleInvalid='skip')
                  for x in ["fuel","seller_type","transmission","owner"]]
string_indexer

[StringIndexer_e4e5c1b4e2b0,
 StringIndexer_2e5049f6080f,
 StringIndexer_37a458af9051,
 StringIndexer_b78e8ed689fd]

In [126]:
One_Hot_Encoder = [ 
    OneHotEncoder(
        inputCols=[f"{x}_StringIndexer" for x in ["fuel","seller_type","transmission","owner"]],
        outputCols=[f"{x}_OneHotEncoder" for x in ["fuel","seller_type","transmission","owner"]],
    )
]

In [127]:
One_Hot_Encoder

[OneHotEncoder_0ba8bd00bfa8]

## Vector Assembling

In [112]:
from pyspark.ml.feature import VectorAssembler

In [118]:
catCols=["fuel","seller_type","transmission","owner"]
numCols=["year","selling_price","km_driven","seats","mileage_clean","engine_clean",
"mpower_clean"]

In [121]:
assemblerInput=[x for x in numCols]
assemblerInput+=[f"{x}_OneHotEncoder" for x in catCols]

In [122]:
assemblerInput

['year',
 'selling_price',
 'km_driven',
 'seats',
 'mileage_clean',
 'engine_clean',
 'mpower_clean',
 'fuel_OneHotEncoder',
 'seller_type_OneHotEncoder',
 'transmission_OneHotEncoder',
 'owner_OneHotEncoder']

In [128]:
vector_assembler = VectorAssembler(inputCols = assemblerInput, outputCol="VectorAssembler_features")

In [131]:
stages  = []
stages += string_indexer
stages += One_Hot_Encoder
stages += [vector_assembler]

In [132]:
stages

[StringIndexer_e4e5c1b4e2b0,
 StringIndexer_2e5049f6080f,
 StringIndexer_37a458af9051,
 StringIndexer_b78e8ed689fd,
 OneHotEncoder_0ba8bd00bfa8,
 VectorAssembler_34a890c8d233]

In [133]:
%%time
from pyspark.ml import Pipeline

pipeline = Pipeline().setStages(stages)
model = pipeline.fit(df)

Wall time: 4.85 s

In [134]:
model

PipelineModel_a76ac71b14d1

In [100]:
data = [(0,'Diesel'),(1,'CNG'),(2,'LPG'),(3,'Petrol')]
columns = ["id","category"]
indexing=spark.createDataFrame(data,columns)
indexing.show(10)

+---+--------+
| id|category|
+---+--------+
|  0|  Diesel|
|  1|     CNG|
|  2|     LPG|
|  3|  Petrol|
+---+--------+

#### counting null value in the dataframe

In [92]:
from pyspark.sql.functions import col,sum
df.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in df.columns)).show()

+----+-------------+---------+----+-----------+------------+-----+-------+------+---------+-----+
|year|selling_price|km_driven|fuel|seller_type|transmission|owner|mileage|engine|max_power|seats|
+----+-------------+---------+----+-----------+------------+-----+-------+------+---------+-----+
|   0|            0|        0|   0|          0|           0|    0|    221|   221|      215|  221|
+----+-------------+---------+----+-----------+------------+-----+-------+------+---------+-----+

we have at least 200 null values in the columns: mileage, engine , max_power, torque  and seats

### replacing the null value by their corresponding means

In [101]:
df.dtypes

[('year', 'string'),
 ('selling_price', 'string'),
 ('km_driven', 'string'),
 ('fuel', 'string'),
 ('seller_type', 'string'),
 ('transmission', 'string'),
 ('owner', 'string'),
 ('seats', 'string'),
 ('mileage_clean', 'string'),
 ('engine_clean', 'string'),
 ('mpower_clean', 'string')]

In [38]:
from pyspark.sql.functions import split, col
df2 = df.select(split(col("mileage"),",").alias("NameArray")).drop("mileage")
df2.show(5)

+------------+
|   NameArray|
+------------+
| [23.4 kmpl]|
|[21.14 kmpl]|
| [17.7 kmpl]|
| [23.0 kmpl]|
| [16.1 kmpl]|
+------------+
only showing top 5 rows

In [55]:
df2.printSchema()

root
 |-- NameArray: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [76]:
from pyspark.sql.functions import explode
#df3=df2.select(explode(df2.NameArray.cast("int")))
#df4=df2.withColumn("NameArray",df2.NameArray.cast('int'))
from pyspark.sql.functions import regexp_extract
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import lit
#df5= df.withColumn("milage", regexp_replace("milage" , lit("lbs"), lit("")))
#df5.show(5)
#df9=df.select(regexp_extract(col('mileage'),'str', r'(\d+) (\D+)', 1).alias('d')).collect()

#df7=df.select("milage")
df6= df.withColumn("mileage_clean", regexp_extract("mileage", "\\d+", 0))
df6.show(10)

+----+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+-------------+
|year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|              torque|seats|mileage_clean|
+----+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+-------------+
|2014|       450000|   145500|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|           23|
|2014|       370000|   120000|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp| 250Nm@ 1500-2500rpm|    5|           21|
|2006|       158000|   140000|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|12.7@ 2,700(kgm@ ...|    5|           17|
|2010|       225000|   127000|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|           23|
|2007|       130000|   120000|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|11.5@ 4,500(kgm@ ...|    5|           16|
|2017|       440000|    45000|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|   113.75nm@ 4000rpm|    5|           20|
|2007|        96000|   175000|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|7.8@ 4,500(kgm@ rpm)|    5|           17|
|2001|        45000|     5000|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|       59Nm@ 2500rpm|    4|           16|
|2011|       350000|    90000|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp| 170Nm@ 1800-2400rpm|    5|           23|
|2013|       200000|   169000|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|      160Nm@ 2000rpm|    5|           20|
+----+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+-------------+
only showing top 10 rows

+----------+
|   mileage|
+----------+
| 23.4 kmpl|
|21.14 kmpl|
| 17.7 kmpl|
| 23.0 kmpl|
| 16.1 kmpl|
|20.14 kmpl|
|17.3 km/kg|
| 16.1 kmpl|
|23.59 kmpl|
| 20.0 kmpl|
+----------+
only showing top 10 rows

+-------------+
|mileage_clean|
+-------------+
|         23.4|
|        21.14|
|         17.7|
|         23.0|
|         16.1|
|        20.14|
|         17.3|
|         16.1|
|        23.59|
|         20.0|
+-------------+
only showing top 10 rows

+----------+
|       col|
+----------+
| 23.4 kmpl|
|21.14 kmpl|
| 17.7 kmpl|
| 23.0 kmpl|
| 16.1 kmpl|
+----------+
only showing top 5 rows

WARNING: Ignoring invalid distribution - (c:\programdata\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda\lib\site-packages)
ERROR: Could not find a version that satisfies the requirement org.apache.spark.ml.feature (from versions: none)
ERROR: No matching distribution found for org.apache.spark.ml.feature
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda\lib\site-packages)

ModuleNotFoundError: No module named 'org'

TypeError: unexpected type: <class 'type'>

TypeError: csv() missing 1 required positional argument: 'path'

In [117]:
df.columns

['year',
 'selling_price',
 'km_driven',
 'fuel',
 'seller_type',
 'transmission',
 'owner',
 'seats',
 'mileage_clean',
 'engine_clean',
 'mpower_clean']

In [135]:
df.select('year').cast('int')

AttributeError: 'DataFrame' object has no attribute 'cast'

root
 |-- year: string (nullable = true)
 |-- selling_price: string (nullable = true)
 |-- km_driven: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- seats: string (nullable = true)
 |-- mileage_clean: string (nullable = true)
 |-- engine_clean: string (nullable = true)
 |-- mpower_clean: string (nullable = true)

In [145]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- seats: integer (nullable = true)
 |-- mileage_clean: integer (nullable = true)
 |-- engine_clean: integer (nullable = true)
 |-- mpower_clean: integer (nullable = true)